<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/admin.css"
          th:href="@{/stylesheets/admin.css}"/>
    <title>Gamified Marketing</title>
</head>
<body>
<h1>Gamified Marketing</h1>
<hr/>
<div class="row">
    <div class="column">
        <h2>Set Product of The Day</h2>
        <form action="/admin/creation" method="POST">
            <select id="product" name="product">
                <option class="review" th:each="p : ${productList}" th:text="${p.getName()}"
                        th:value="${p.getName()}"></option>
                <input type="date" id="day" name="day" placeholder="Select Date">
                <input type="submit" id="submitButton" value="Submit">
            </select>
        </form>
        <p th:text="${message}"></p>
        <a href="/admin/deletion">Go to deletion page</a>
        <a href="/admin/inspection">Go to inspection page</a>

    </div>
    <div class="column">

        <h2>Add Marketing Questions</h2>

    </div>

</div>

</body>
</html>

