<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/home.css" th:href="@{/stylesheets/home.css}"/>
    <title>Gamified Marketing</title>
</head>
<body>
<p id="userNameLabel" th:text="${user.getUsername()}"></p>
<h1>Gamified Marketing</h1>
<a id="logoutBtn" th:href="@{/Logout}">Logout</a>
<hr/>
<div class="row">
    <div class="column">
        <h2 th:text="${'Product of the Day: ' +productName}"></h2>
        <img th:src="${productImg}"/>
        <br/>
        <a href="/questionnaire"> Go to Questionnaire</a>
    </div>
    <div class="column">

        <h2>Reviews</h2>

        <div class="reviewList">
            <div class="review" th:each="r : ${reviewList}">
                <h3 th:text="${r.getUserEmail()}"></h3>
                <hr/>
                <p th:text="${r.getText()}"></p>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>

