<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/signup.css"
          th:href="@{/stylesheets/signup.css}"/>
    <title>Gamified Marketing</title>
</head>
<body>
<h1>Gamified Marketing</h1>
<hr/>
<h2>Log In</h2>
<form>
    <input type="text" id="username" name="username" placeholder="Username">
    <input type="password" id="password" name="password" placeholder="Password">
    <input type="submit" id="submitButton" value="Submit">
</form>
<a href="/signup"> Go to signup page</a>
</body>
</html>

