<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/questionnaire.css"
          th:href="@{/stylesheets/questionnaire.css}"/>
    <title>Gamified Marketing</title>
</head>
<body>
<h1>Gamified Marketing</h1>
<hr/>
<div class="row">
    <h2>Questionnaire - Statistical Section</h2>
</div>

<form action="statistical" method="POST">
    <div  th:each="s : ${statisticalQuestions}">
        <h3 th:text="${s.getText()}"></h3>
        <textarea  th:id="${'question-'+s.getId()}"  th:name="${'question-'+s.getId()}"></textarea>
    </div>
<a href="/home">Go To Home Page</a>
<a href="/marketing">Go Back</a>
<input type="submit" value="Submit"/>
</form>
</body>
</html>

