<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/admin.css"
          th:href="@{/stylesheets/admin.css}"/>
    <title>Gamified Marketing</title>
    <script src="../../scripts/creation.js" th:src="@{/scripts/creation.js}"></script>
</head>
<body>
<h1>Gamified Marketing</h1>
<hr/>


<form th:action="@{/admin/creation}" method="POST">
    <div class="row">
        <div class="column">
            <h2>Set Product of The Day</h2>
            <select id="product" name="product">
                <option class="review" th:each="p : ${productList}" th:text="${p.getName()}"
                        th:value="${p.getName()}"></option>
                <input type="date" id="day" name="day" placeholder="Select Date">
            </select>
            <p th:text="${message}"></p>
            <a th:href="@{/admin/deletion}">Go to deletion page</a>
            <a th:href="@{/admin/inspection}">Go to inspection page</a>
             <a th:href="@{/pday}">Go to home page</a>
        </div>
        <div class="column">

            <h2>Add Marketing Questions</h2>
            <div id="questionSection">
                <textarea id="question-0" name="question-0"></textarea>
            </div>
            <br/>
            <button type="button" onclick="addQuestionBox()">Add</button>

        </div>
    </div>


    <input type="submit" id="submitButton" value="Submit">
</form>

</body>
</html>

