<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/admin.css"
          th:href="@{/stylesheets/admin.css}"/>
    <title>Gamified Marketing</title>
    <script src="../../scripts/inspection.js" th:src="@{/scripts/inspection.js}"></script>

</head>
<body>
<h1>Gamified Marketing</h1>
<hr/>
<div>
    <h2>Inspect Questionnaire</h2>
    <input type="date" id="day" name="day" th:value="${day}" onchange="changeDate()" placeholder="Select Date">

    <div class="userList">
        <h3>Completed</h3>
        <div class="userRow" th:each="g: ${answers}">
            <h4 th:text="${g.getKey()}"></h4>
            <div class="userRow" th:each="a: ${g.getValue().getAnswers()}">
                <h5 th:text="${a.getQuestion().getText()}"></h5>
                <hr>
                <h5 th:text="${a.getText()}"></h5>
            </div>
        </div>

    </div>

    <div class="userList">
        <h3>Deleted</h3>
        <div class="userRow" th:each="u: ${deletedUsers}">
            <h5 th:text="${u}"></h5>
        </div>

    </div>


    <a th:href="@{/admin/creation}">Go to creation page</a>
    <a th:href="@{/admin/deletion}">Go to deletion page</a>


</div>

</body>
</html>

