<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/questionnaire.css"
          th:href="@{/stylesheets/questionnaire.css}"/>
    <title>Gamified Marketing</title>
    <script src="../../scripts/questionnaire.js" th:src="@{/scripts/questionnaire.js}"></script>

</head>
<body>
<h1>Gamified Marketing</h1>
<hr/>
<div class="row">
    <h2>Questionnaire - Marketing Section</h2>
</div>

<form th:action="@{marketing}" method="POST">
    <div id="marketingSection">
        <div th:each="s : ${marketingQuestions}">
            <h3  th:text="${s.getText()}"></h3>
            <textarea th:id="${'question-'+s.getId()}" th:name="${'question-'+s.getId()}"></textarea>
        </div>

        <a th:href="@{/pday}">Go To Home Page</a>
        <input type="button" value="Next" onclick="goToStatisticalSection()"/>
    </div>

    <div id="statisticalSection">
        <div th:each="s : ${statisticalQuestions}">
            <h3 th:text="${s.getText()}"></h3>
            <textarea th:id="${'question-'+s.getId()}" th:name="${'question-'+s.getId()}"></textarea>
        </div>
        <input type="button" value="Back" onclick="goToMarketingSection()"/>
        <input type="submit" value="Cancel" name="submit"/>
        <input type="submit" value="Submit" name="submit"/>
    </div>


</form>

</body>
</html>

