body {
    text-align: center;
}

h2 {
    margin-top: 1.5%;
    font-size: 35px;
}

.leaderboard {
    margin-left: 42%;
    width: 16%;
    max-height: 500px;
    overflow-y: scroll;
    margin-bottom: 2%;
    border: 1px solid black;
}

.position {
    padding: 15% 2%;
    border: 1px solid black;
}

span {
    font-size: 20px;
}

.uname {
    float: left;
}

.points {
    float: right;
}