<?xml version="1.0" encoding="UTF-8"?>
<web>
    <Resource id="GamifiedMarketing" type="DataSource">
        JdbcDriver com.mysql.cj.jdbc.Driver
        JdbcUrl jdbc:mysql://localhost:3306/GamifiedMarketing
        UserName root
        Password password
    </Resource>

    <Resource id="GamifiedMarketingUnmanaged" type="DataSource">
        JdbcDriver com.mysql.cj.jdbc.Driver
        JdbcUrl jdbc:mysql://localhost:3306/GamifiedMarketing
        UserName root
        Password password
        JtaManaged false
    </Resource>
</web>

